/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Colors var*/
:root {
    --color-primary: hsla(35, 33%, 45%, 1);
    --color-primary-light: hsla(38, 23%, 60%, 1);
    --color-dark: hsla(0, 0%, 16%, 1);
    --color-light: hsla(0, 0%, 96%,1);
    --bg: hsla(0, 0%, 100%,1);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: hsla(0, 0%, 90%,1);
      color: hsla(0, 0%, 14%, 1);
      font-family: 'Poppins', sans-serif;
      line-height: 1.5;
  }

h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
}

a {
   color: inherit;
   text-decoration: none;
  }

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    
}

ul {
    list-style-type: none;
}

li {
   cursor: pointer;
}


  /* Navigation bar */

  /* Nav */
.nav {
    color: var(--color-light);
    height: 700px;
}

.nav::before {
    background: linear-gradient(217deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                linear-gradient(127deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                linear-gradient(336deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%);
    background: -webkit-linear-gradient(217deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -webkit-linear-gradient(127deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -webkit-linear-gradient(336deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%);
    background: -moz-linear-gradient(217deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -moz-linear-gradient(127deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -moz-linear-gradient(336deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%);
    background: -o-linear-gradient(217deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -o-linear-gradient(127deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%),
                -o-linear-gradient(336deg, rgba(0, 0, 0,.5), rgba(0, 0, 0,0) 70.71%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    
}

.nav-wrapper {
    border-style: none;
    border-bottom: 1.5px solid  #ffffff2b;
    height: 100px;
  }

nav.flex {
      justify-content: space-between;
}

nav {
      z-index: 1;
}

nav::after {
    content: '';
    background-color: #ffffff2b;
    height: 100%;
    width: 1px;
    position: absolute;
    top: 0;
    right: 130px;
    z-index: 2;
}

.logo {
      margin-bottom: 13px;
}

.logo h1 {
      font-size: 2.5rem;
      font-weight: 500;
      cursor: pointer;
      z-index: 1;
}

.logoh1 {
      color: var(--color-dark);
      position: absolute;
      left: 55%;
      top: 18px;
      z-index: -1;
}

.nav-items.flex {
      gap: 50px;
}

.nav-num a {
    display: block;
}

.nav-links {
    height: 100%;
}

.nav-links li {
    font-size: 1rem;
    letter-spacing: 3px;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    z-index: 1;
}

.nav-links li::before {
    content: '';
    background-color: var(--color-primary);
    position: absolute;
    top: 0;
    left: 0;
    height: 0%;
    width: 100%;
    z-index: -1;
    transition: all 0.5s;
}

.nav-links li:hover::before {
    height: 100%;
}

/* Front content Wrapper */
.inner-container:nth-child(2).flex {
    justify-content: flex-start;
    height: 85.7%;
}

/* Front Content */
.front-content {
    width: 465px;
    z-index: 1;
    
}

.front-content h1 {
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1.3;
}

.front-content p {
    color: rgba(255, 255, 255,0.9);
    margin: 8px 0 28px;
}

/* Projects */

/* projects heading */
.heading h1{
    color: var(--color-dark);
    font-size: 2.7rem;
}

/* Brandon House */
.brandon-house.grid {
    grid-template-columns: 1fr 31% 25%;
    grid-template-rows: 1fr 12% 30%;
}

.house-spec {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
}

.house-price p {
    font-weight: 500;
}

.about-brandon {
    grid-row: 1 / -1;
}

.brandon-pic1 {
    grid-row: 1 / 3;
}

.brandon-pic2 {
    grid-row: 3 /3;
}

.brandon-pic3 {
    margin-top: -100px;
    grid-column: 3 /4;
    grid-row: 1 / 2;
}

.brandon-pic4 {
    margin-top: -100px;
    grid-column: 3 /4;
    grid-row: 2 / 4;
}

/* Tarden House */
.tarden-house.grid {
    grid-template-columns: 34% 1fr;
    grid-template-rows: 36% 61.3%;
}

/* about tarden */
.about-tarden-content {
    width: 85%;
}


.about-tarden {
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

.bg-image.tarden-pic1 {
    height: 300px;
    background-position: top;
}


.tarden-pic2 {
    grid-column: 1 / 2;
}

.tarden-pic3.bg-image {
    background-position: top 0 right 0;
}

/* Wooden House Farrow */
/* about farrow house */
.house-farrow-inner {
    width: 80%;
}

.wooden-house-farrow.grid {
    grid-template-columns: 23% 30% 1fr;
    grid-template-rows: 45% 1fr;
}

.about-farrow {
    grid-column: 3 / 4;
    grid-row: 1 / -1;
}

.farrow-pic1 {
    grid-column: 1 / 3;
}

/* --------About us Section */

.about-us-wrapper.grid {
    grid-template-columns: 45% 1fr;
    gap: unset;
}

.about-us-inner {
    background-color: hsl(0, 0%, 96%);
}

.about-us-inner::before {
    background-color: hsl(0, 0%, 96%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-left: -35px;
    height: 100%;
    width: 35px;
}

.about-us-inner .vr-line-after::after{
    margin-bottom: 25px;
    margin-right: 178px;
    width: 150px;
}

.about-us-inner-paras {
    width: 80%;
}

.about-us .grid {
    height: unset;
    gap: unset;
}

.about-us {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

.about-us-pic1 {
    grid-column: 1 / 2;
}

/* Customer Reviews */
.cus-reviews {
    background-color: 	hsla(0, 0%, 0%, 1);
    height: 550px;
    overflow: visible;
}

.cus-reviews .vr-line-after::after{
    margin-bottom: 25px;
    margin-left: -169px;
    width: 150px;
    right: unset;
    left: 0;
}

.cus-reviews .flex {
    gap: 35px;
}

.user-item{
    background-color: hsla(35, 30%, 76%, 1);
    text-align: center;
}

.user-item .grid {
    grid-template-columns: unset;
    grid-template-rows: 200px 180px;
    gap: unset;
    align-items: unset;
}

.user-avatar {
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    height: 80px; 
    width: 80px; 
    
}

/* House Advantages */
.house-advantages {
    background-color: hsla(0, 0%, 96%,1);
}

.house-advantages .vr-line-after::after{
    margin-right: -170px;
    width: 150px;
}

.house-adva-inner.grid {
    grid-template-columns: 1fr 15% 18% 15% 17%;
    grid-template-rows: 200px 100px 50px;
}

.house-adva-item1 {
    grid-column: 1 / span 1;
    grid-row: 1 /span 2;
}

.house-adva-item2 {
    margin-top: -60px;
    grid-column: 2/ span 2;
    grid-row: 1/ span 1;
}

.house-adva-item3 {
    margin-bottom: -40px;
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}

.house-adva-item4 {
}

.house-adva-item5 {
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
}

.house-adva-item6 {
    margin-top: -60px;
    grid-row: 1 / span 2;
}

/* House Advantages pictures */
.house-adva-pic1 {
    height: 90%;
}

.house-adva-pic2 {
    height: 118%;
}

.house-adva-pic3 {
    height: 90%;
}

.house-adva-pic4 {
    height: 90%;
}

.house-adva-pic5 {
    height: 114%;
}

.house-adva-pic6 {
    height: 99%;
}

/* Our Ready Projects Section */
.our-ready-projects .vr-line-after::after {
    margin-bottom: 25px;
    margin-left: -169px;
    width: 150px;
    right: unset;
    left: 0;
}

.ready-projects.flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.ready-projects div{
    height: 350px;
    width: 31%;
}